@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the story of a girl. Who cried a river and drowned the whole world. And though shws bad in photographs. I absolutely love her, When she smiles.</p>
