@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3318 Garland Ave<br />
    Louisville, KY 40211<br />
    <abbr title="Phone">P:</abbr>
    502.548.2115
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:castro30@yahoo.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:castro30@yahoo.com">Marketing@example.com</a>
</address>